*{
 *  insert a script tag in the template to load a gwt2 module.
 *  by convention, referred script must be put under the path defined in the conf file with 
    gwt2.publicpath
 *    module  (required)   : module name
 *    id      (opt.)       : sets script id attribute
 *    charset (opt.)       : sets source encoding - defaults to UTF-8
 *    history (opt.)       : enable history
 *    #{gwt2.module id:'mymodule' , module:'mymodule', charset:'utf-8' /}
}*
%{
    (_arg ) && (_module = _arg);

    if (!_module) {
        throw new play.exceptions.TagInternalException("module attribute cannot be empty for gwt2.module tag");
    }
    _module = play.modules.gwt2.GWT2Plugin.publicPath() + "/" + _module + "/" + _module + ".nocache.js"
//    try {
//        _abs = play.mvc.Router.reverseWithCheck(_src, play.Play.getVirtualFile(_module), false);
//    } catch (Exception ex) {
//        throw new play.exceptions.TagInternalException("File not found: " + _module);
//    }
}%

#{set 'moreScripts'}
#{get 'moreScripts' /}
<script type="text/javascript" language="javascript"#{if _id} id="${_id}"#{/if}#{if _charset} charset="_charset"#{/if}  src="${_module}"></script>
#{/set}

#{if _history}
<iframe src="javascript:”" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
#{/if}